---
title: "Solid Community Server: TODO"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Joachim Van Herwegen', 'https://github.com/joachimvh/', 'https://data.verborgh.org/people/joachim_van_herwegen' %>[<sup>1</sup>](#idlab)
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me' %>[<sup>1</sup>](#idlab)
- <%= person 'Erik Mannens', 'https://www.ugent.be/ea/idlab/en/members/erik-mannens.htm', 'https://data.verborgh.org/people/erik_mannens' %>[<sup>1</sup>](#idlab)
- <%= person 'Tim Berners-Lee', 'https://www.w3.org/People/Berners-Lee/', 'https://www.w3.org/People/Berners-Lee/card#i' %>[<sup>1</sup>](#idlab)
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>[<sup>1</sup>,<sup>2</sup>](#idlab)

{:#affiliations}
- {:#idlab} <sup>1</sup>IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec
			<br />E-mail: joachim.vanherwegen@ugent.be
- {:#oxford} <sup>2</sup>University of Oxford

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section 'abstract' %>

<div class="double-column">

<main>
  <%= section 'introduction' %>
  <%= section 'requirements' %>
  <%= section 'related-work' %>
  <%= section 'architecture' %>
  <%= section 'configuration' %>
  <%= section 'usage' %>
  <%= section 'conclusions' %>
</main>

<footer>
  <%= section 'acknowledgements'  %>
  <div class="printonly" style="height: 30px">&nbsp;</div>
</footer>

</div>
</div>
